/.settings/
/.project
/bin/
/.classpath
*.iml
/.idea/

*/bin
*/bin/*
*/log
*/log/*
/logs/
*/logs
*/logs/*
*/build
*/build/*
*/output
*/output/*
.classpath
.project
*/.classpath
*/.project
*.iml
.idea/
*.ipr
*.iws
*/*.ipr
*/*.iws
/out/
.idea
out
output
velocity.log
META-INF
*/META-INF

# ignore all folder named configure, if you want to exclude, add line "!/myfoloder/configure"
configure/
.settings/
.gradle/
/bin/
.svn
.idea
/build/
.DS_Store
target
.externalToolBuilders
*/.externalToolBuilders

